<!DOCTYPE html>
html(lang="et")
style(type='text/css').
    .grid_head {
        background-color: lightgray;;
    }
    .doc_wrapper {
        margin-left:5%;
        margin-top:5%;
        width:auto;
    }
    .grid_data {
        width: 100%;
        border: 1px solid lightgray;
    }
    .row_wrapper {
        display:-webkit-box;
        flexDirection: row;
    }
    .row_hr {
        border-top: 1px solid lightgray;
    }
    .label {
        width:10%;
    }
    .input {
        width:90%;
        margin-left:5%;
        font-weight: bold;
    }
    .label_subtotal {
        width:70%;
    }
    .hr_style {
        border-top: 1px solid #8c8b8b;
    }


block content
    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        -var User = user ? user : {asutus: ''};

        each doc in data
            p #{User.asutus}, reg.kood: #{User.regkood}
            p #{User.aadress}
            p #{User.tel}
            p #{User.email}
            div.row_wrapper
                p.label Raha saaja:
                p.input #{User.parentid == 119 ? User.parent_asutus : User.asutusTais }
            div.row_wrapper
                p.label Maksta arvele:
                p.input #{data[0].aa}

            h1
                    p #{`${doc.tyyp == 'ETTEMAKS' ? 'ETTEMAKSUARVE ': 'ARVE'}`}

                div.row_wrapper
                    p.label Number:
                    p.input #{doc.number}

                div.row_wrapper
                    p.label Kuupäev:
                    p.input #{doc.kpv_print}

                div.row_wrapper
                    p.label Viitenumber:
                    p.input #{doc.viitenr}

                div.row_wrapper
                    p.label Tähtaeg:
                    p.input #{doc.tahtaeg_print}

                div.row_wrapper
                    p.label Maksja:
                    p.input #{`${doc.asutus.trim()} reg.kood: ${doc.regkood}`}
                div.row_wrapper
                    p.label Teenuse saaja:
                    p.input #{`${data[0].lapse_nimi.trim()}, isikukood: ${data[0].isikukood}`}

                div.row_wrapper
                    p.label Aadress:
                    p.input #{`${doc.aadress}`}

                div.row_wrapper
                    p.label Lisa:
                    p.input #{`${doc.lisa ? doc.lisa: ''}`}
                div.row_wrapper
                    p.label Märkused:
                    p.input #{`${data[0].muud ? data[0].muud : ''}`}

                table.table.table-hover.grid_data
                    thead.grid_head
                        tr
                            th Teenuse nimetus
                            th Hind
                            th Ühik
                            th Kogus
                            th Käibemaks
                            th Rea summa
                            th Märkused

                    tbody
                        each row in doc.details
                            tr
                                td=row.nimetus
                                td=Number(row.hind).toFixed(2)
                                td=row.uhik
                                td=row.kogus
                                td=Number(row.kbm).toFixed(2)
                                td=Number(row.summa).toFixed(2)
                                td=row.muud
                div.row_wrapper
                    p.label_subtotal Summa käibemaksuta:
                    p.input #{`${Number(doc.kbmta).toFixed(2)}`}
                div.row_wrapper
                    p.label_subtotal Käibemaks:
                    p.input #{`${Number(doc.kbm).toFixed(2)}`}
                div.row_wrapper
                    p.label_subtotal Kokku:
                    p.input #{`${Number(doc.summa).toFixed(2)}`}
                div.row_hr
                div.row_wrapper
                    p.label_subtotal Teil on ettemaks:
                    p.input #{`${Number(data[0].ettemaksud).toFixed(2)}`}
                div.row_wrapper
                    p.label_subtotal Laekumised periodis: #{`${data[0].laekumise_period}`}
                    p.input #{`${Number(data[0].laekumised).toFixed(2)}`}
                div.row_wrapper
                    p.label_subtotal Seisuga #{`${data[0].kpv_print}`} on maksmata:
                    p.input #{`${Number(data[0].jaak).toFixed(2)}`}
                div.row_wrapper
                    p.label_subtotal Kuulub tasumisele:
                    p.input #{`${Number(data[0].tasumisele).toFixed(2)}`}

           h3
