<!DOCTYPE html>
html(lang="et")
extends report_header

block content

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }


    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 Organisatsioonide ja eraisikute register

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Reg./Isikukood
                    th Nimetus/Nimi
                    th Om.vorm
                    th Aadress
                    th E-mail

            tbody
                each asutus in data
                    tr
                        td=asutus.regkood
                        td=asutus.nimetus
                        td=asutus.omvorm
                        td=asutus.aadress
                        td=asutus.email
