<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

        .kulastavus {
            width: 100px
        }
    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h1 SALDO JA KÄIVE ARUANNE
        each parameter in filter
            p #{parameter.name}: #{!parameter.start ? parameter.value : parameter.start} #{parameter.start ? ` - ${parameter.end}` : null}

            table.table.table-hover.grid_data
                thead.grid_head
                    tr
                        th Nimi
                        th Objekt
                        th Alg.saldo
                        th Arvestatud
                        th Laekumised
                        th Tagastatud
                        th Võlg

                tbody
                    each rea in data
                        tr
                            td=rea.nimi
                            td=rea.objekt
                            td=rea.alg_saldo
                            td=rea.arvestatud
                            td=rea.laekumised
                            td=rea.tagastatud
                            td=rea.jaak
                    tr.group
                        td.group='Kokku:'
                        td.group=''
                        td.group=data[0].alg_saldo_total
                        td.group=data[0].arvestatud_total
                        td.group=data[0].laekumised_total
                        td.group=data[0].tagastatud_total
                        td.group=data[0].jaak_total

