<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    div.body_wrapper
        h1 Operatsioonid

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Kood
                    th Nimetus
                    th Dokumendi tüüp
                    th Konto
                    th Tunnus
                    th Hind

            tbody
                each nom in data
                    tr
                        td=nom.kood
                        td=nom.nimetus
                        td=nom.dok
                        td=nom.konto
                        td=nom.tunnus
                        td=nom.hind
