<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')
    script.
        var summaKokku = data.length ? data[0].reduce((summaKokku, row) => (summaKokku + row.summa), 0): 0;
    div.body_wrapper
        h1 Sissemakse korralduste register

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Number
                    th Maksepäev
                    th Maksja isikukood
                    th Maksja
                    th Summa
                    th aa
                    th Isikukood
                    th Teenuste saaja nimi
                    th Viitenumber

            tbody
                each mk in data
                    tr
                        td=mk.number
                        td=mk.maksepaev
                        td=mk.vanem_isikukood
                        td=mk.asutus
                        td=Number(mk.deebet).toFixed(2)
                        td=mk.aa
                        td=mk.isikukood
                        td=mk.nimi
                        td=mk.viitenr
        - var total = 0
        - var read = 0
        each mk in data
            - total += Number(mk.deebet)
            - read += 1
        div.row_wrapper
            p.label_subtotal Kokku:
            p.input #{`${Number(total).toFixed(2)}, read kokku: ${read}`}
