<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }


    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h1 Sissemakse korraldus

        div.row_wrapper
            p.label Number:
            p.input #{data[0].number}

        div.row_wrapper
            p.label Kuupäev:
            p.input #{data[0].kpv_print}

        div.row_wrapper
            p.label Makseäev:
            p.input #{data[0].maksepaev_print}

        div.row_wrapper
            p.label Viitenumber:
            p.input #{data[0].viitenr}

        div.row_wrapper
            p.label Arveldus arve:
            p.input #{data[0].omaarve}

        div.row_wrapper
            p.label Makse selgetus:
            p.input #{data[0].selg}

        table.table.table-hover.grid_data
            thead.grid_head
                tr
                    th Maksja
                    th Aa
                    th Summa
                    th Märkused

            tbody
                each row in data.details
                    tr
                        td=row.asutus
                        td=row.aa
                        td=Number(row.summa).toFixed(2)
                        td=row.muud
        div.row_wrapper
            p.label Summa kokku:
            p.input #{`${Number(data[0].summa).toFixed(2)}`}

