<!DOCTYPE html>
html(lang="et")
extends report_header

block content
    meta(charset='utf-8')

    style(type='text/css').
        .grid_head {
            background-color: lightgray;;
        }

        .doc_wrapper {
            margin-left: 5%;
            margin-top: 5%;
            width: auto;
        }

        .grid_data {
            width: 100%;
            border: 1px solid lightgray;
        }

        .row_wrapper {
            display: -webkit-box;
            flexDirection: row;
        }

        .label {
            width: 10%;
        }

        .input {
            width: 90%;
            margin-left: 5%;
            font-weight: bold;
        }

        .label_subtotal {
            width: 70%;
        }

    link(rel='stylesheet', href='/stylesheets/reports.css')

    div.body_wrapper
        h1 Kassa sissetuleku order

        div.row_wrapper
            p.label Number:
            p.input #{data[0].number}

        div.row_wrapper
            p.label Kuupäev:
            p.input #{data[0].kpv_print}

        div.row_wrapper
            p.label Kassa:
            p.input #{data[0].kassa}

        div.row_wrapper
            p.label Alus:
            p.input #{data[0].alus}

        div.row_wrapper
            p.label Maksja:
            p.input #{`${data[0].nimi}, ${data[0].aadress}`}

        div.row_wrapper
            p.label Makse selgetus:
            p.input #{data[0].selg}

        div.row_wrapper
            p.label Summa:
            p.input #{`${Number(data[0].summa).toFixed(2)}`}

